/*Basic Start*/
*{
	padding: 0;
	margin: 0;
}

#welcome, #master, #vip, #offer, #news, #testimonial {
	margin: 90px 0;
}

#welcome, #master, #vip, #offer, #news, #testimonial h2 {
	color: #000;
	font-size: 1rem;
}
/*#welcome .row .col-md-12 p, #master .row .col-md-12 p, #vip .row .col-md-12 p, #offer .row .col-md-12 p, #news .row .col-md-12 p, #testimonial .row .col-md-12 p {
	font-size: 1.5rem;
	font-weight: 300;
}*/
.symbol { 
	margin-bottom: 15px;

}
.parent .caption .price p {
    font-weight: 500;
    font-size: 30px;
}

.fa:hover {
	background-color: #cdaf87;
	transition: all 0.3s;
}
/*Basic End*/

/*Preloder Start Heare*/

.preloder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	z-index: 1000;
}

.preloder .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

/*Preloder End Heare*/

/*Nav bar Start Heare*/
.navbar-brand img {
	height: auto;
	width: 150px;
	padding-right : 70px;
}
.red {
    background-color: #283c5a !important;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
	padding-left: 50px;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover {
    color: #1d1e1f;
    background-color: #283c5a;
}
.dropdown-menu {
	background-color: #264b83;
}
.navbar .dropdown-menu a {
    color: #fff !important;
}

/*Nav bar End Heare*/


/* Your custom styles */

#reservation {
	margin: 80px 0;
	
}
.reservation-top {
	margin-bottom: 50px;
	background-image: url("../img/download.jpg"); 
}
#reservation .reservation-bottom {
	background-color: #eceff1;
	padding: 30px 0;
}
.reservation-bottom .col-3 {
	margin: auto;
}
.reservation-bottom .radious {
	background: #283C5A;
	  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 50;
	  -moz-border-radius: 50;*/
	  border-radius: 50px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 30px;
	  width: 90px;
	  height: 90px;
	  display: inline-block;
	  text-decoration: none;
	  margin-bottom: 25px;
}
.reservation-bottom .radious-1 {
	background: transparent;
	  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 50;
	  -moz-border-radius: 50;*/
	  border-radius: 50px;
	  border: 2px solid #ddd;
	  font-family: Arial;
	  color: #ddd;
	  font-size: 30px;
	  width: 90px;
	  height: 90px;
	  display: inline-block;
	  text-decoration: none;
	  margin-bottom: 25px;
	}
.reservation-bottom .radious-2 {
	background: #CDAF87;
	  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 50;
	  -moz-border-radius: 50;*/
	  border-radius: 50px;
	  border: 2px solid #ddd;
	  font-family: Arial;
	  color: #ddd;
	  font-size: 30px;
	  width: 90px;
	  height: 90px;
	  display: inline-block;
	  text-decoration: none;
	  margin-bottom: 25px;
	}
.reservation-bottom h1 {
	padding-top: 20px;
}
.reservation-bottom .color-1 {
	color: #283C5A;
}
.reservation-bottom .color-2 {
	color: #CDAF87;
}
/*resercation calender section start*/



/*reservation-main section start here*/

#reservation-main .custom-btn {
	background-color: #283C5A;
	margin-top: 200px;
}
#reservation-main .custom-btn a {
	color: #fff;
}
#reservation-main {
	margin-bottom: 30px;
}
#reservation-main .form {
	background-color: #283C5A;
	color: #fff;
	padding: 50px;
}
#reservation-main .form form {
	margin-top: 50px;
}
#reservation-main .form .btn {
	margin: 0 auto;
	border: 2px solid #fff;
	background-color: transparent;
	font-size: 20px;
}
#reservation-main .form .btn a {
	color: #fff; 
}
#reservation-main .calander .btn {
	width: 100%;
	background-color: #283C5A;
}

/*===== chose room ======*/


#chose-room {
	margin: 30px auto;
}

#chose-room .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: 20px ;
    text-align: center;
}

#chose-room .title {
    color: grey;
    font-size: 18px;
}

#chose-room button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #283C5A;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
/**/
#chose-room a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: float;
}

#chose-room button:hover, a:hover {
    opacity: 0.7;
}
#chose-room .price-text, 
#chose-room p {
	text-align: left;
	padding-left: 10px;
}
#chose-room .price-text {
	margin-bottom: 15px;
	margin-top: 15px;
}


/*===== reservation-form section ======*/

/*#reservation-form .payment .image {
	position: relative;
	top: 0;
	left: 0;
}rgba(255,255,255,0.7)

#reservation-form .payment .overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 5000;
	width: 100%;
	height: 100%;
}*/
  }
#reservation-form {
	margin-bottom: 130px;
}
#reservation-form .parent {
	position: relative;
	overflow: hidden;
}
#reservation-form .caption {
	position: absolute;
	transition: all 0.3s;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 14%, rgba(255,255,255,0.85) 100%);
}

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+14,0.45+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */

#reservation-form .parent .caption h1 {
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 100%;
	z-index: 500;
	color: #fff;
	transform: translateY(50%);
	transition: all 0.3s;
	margin: 0;
	padding: 0;
	font-size: 20px;
	background-color: red;
}
#reservation-form .parent:hover .caption{
	background: rgba(255,255,255,0.1);
	/*border: 1px solid blue;*/
	/*display: none;*/
}
#reservation-form .parent:hover .caption h1{
	bottom: 50%;
}
#reservation-form .custom-btn {
	background-color: #283C5A;
}
#reservation-form .custom-btn a {
	color: #fff;
}
#reservation-form .info {
	background-color: #283C5A;
	color: #ddd;
	padding-top: 30px;
}
/*======= reseervation ===*/

.confirmation-inner {
	background-color: #283C5A;
	color: #fff;
	padding: 30px 30px;
}
#confirmation hr {
	color: #fff;
}
#confirmation .align-right {
	text-align: right;
}
#confirmation button {
	margin: 0 120px;
}
.confirmation-inner > p {
	margin-bottom: 50px;
}
#confirmation .custom-btn {
	background-color: #283C5A;
	border: 1px solid #fff;
}
#confirmation .custom-btn a {
	color: #fff;
}
#confirmation a {
	color: #fff;
}

/*Fotter Section Start Heare*/

.mdb-color.lighten-3 {
    background-image: url("../img/bg.jpg");
    padding: 70px 0;
}

.parent .caption .price h3 {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.mdb-color.lighten-3 .my-4 ul li .fa {
	border: 1px #ddd solid;
	padding: 5px;
	margin-left: 10px;
}

.mdb-color.lighten-3 .my-4 ul li {
	padding-bottom: 20px;
}

.footer-logo img {
	height: auto;
	width: 100px;	
}

footer.page-footer {
    margin-top: 30px;
}
#footer {
	background-color: #1f1f1f;
}

#footer {
	padding: 20px 0;
}

.footer-menu {
	display: flex;
}
.footer-menu li a{
	list-style-type: none;
	padding-right: 10px;
}
.footer-menu li{
	list-style-type: none;
}
.footer-menu li a {
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}

.parent li {
	list-style-type: none;
	padding-right: 20px;
}

/*Footer Section End Heare*/


/*Media Quere*/

@media (min-width: 992px) {
  #carosol  h1 {
	font-size: 40px;
}
 #carosol  h2 {
	padding: 200px 0 20px 0;
	font-size: 30px;
}
#carosol  p {
	padding: 20px 0 200px 0;
	font-size: 20px;
}

}
/*Media Quere*/
